
/****************************************
Fonts
*****************************************/

h1 {

  font-family: 'Lobster', sans-serif;
}

li{

  font-family: 'Lato', sans-serif;
}
.mail{
   text-decoration: none;

}

a{
  color: #000;

}
/****************************************
Main
*****************************************/


.main-logo {
  width: 300px;
  height: 60px;
  margin-top: 22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../img/logo.png') no-repeat;
  background-size: 100%;
}

.bison{
  float: left;
}

hr{
  margin-bottom: 4px;
   border-top: 4px dotted #C0C0C0;
   border-radius:2em;
}

/****************************************
NAVIGATION
*****************************************/

nav {
  text-align:center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
 text-decoration: none;
  margin: 0 10px;
  padding:0;
    
}
nav li{
  display:inline-block;

}

nav a{
  font-weight:800;
  padding:15px 10px;
   
   color: #000;

}
nav a:hover{
 color:#FF8000;
 text-decoration: none;
}

/****************************************
Show reel
*****************************************/
.video{
  margin-top: 20px;
}
/****************************************
want to see more
*****************************************/


.ft-icon {
  width: 94%;
  height: 196px;
  position: relative;
  background: #8c73b0 url('../img/main-bg.png') no-repeat 270px -180px;
  background-size: 140%;

}
.ft-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 164px;
  height: 102px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url('../img/feature-icons.png') no-repeat;
  background-size: 100%;

}

/****************************************
FOOTER
*****************************************/

footer{
  font-size: 0.75em;
  text-align:center;
  clear:both;
  padding-top:50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;

}








