
/****************************************
Fonts
*****************************************/

h1 {

  font-family: 'Lobster', sans-serif;
}




/****************************************
Main
*****************************************/


.main-logo {
  width: 124px;
  height: 34px;
  margin-top: 22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../img/logo.png') no-repeat;
  background-size: 100%;
}

.bison{
  float: left;
}

/****************************************
NAVIGATION
*****************************************/
.navbar{
  background-color: #fff;
}
/****************************************
PAGE: Show reel
*****************************************/
.video{
  margin-top: 50px;
}






/****************************************
FOOTER
*****************************************/




/*  Icons
================================= */








